@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes react {
    0% {
        width: 0%;
    }
    100% {
        width: 69%;
    }
}

@keyframes jquery {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes laravel {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes ux {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}